<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demodanei.mapper.DistrictMapper">
    <select id="findByParent" resultType="com.example.demodanei.entity.District">
        SELECT
            code, name
        FROM
            t_dict_district
        WHERE
            parent=#{parent}
        ORDER BY
            code ASC
    </select>
    <select id="findByCode" resultType="com.example.demodanei.entity.District">
        SELECT
            name
        FROM
            t_dict_district
        WHERE
            code=#{code}
    </select>
</mapper>

